@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using RS.Models
@inject UserManager<Employee> UserManager
@inject RoleManager<IdentityRole> RoleManager

<div class="text-center">
    <h1 class="display-4">Панель управления 1</h1>
    <p>Crud, функции, роли</p>
</div>
<table border="1">
    <thead>
        <tr>
            <th>Сущность</th>
            <th>Создать</th>
            <th>Просмотр всех</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Сотрудники</td>
            <td><a href="/Employees/Create">soon</a></td>
            <td><a href="/Employees">soon</a></td>
        </tr>
        <tr>
            <td>Заказы</td>
            <td><a href="/Orders/Create">Создать</a></td>
            <td><a href="/Orders">Просмотр</a></td>
        </tr>
        <tr>
            <td>Продукты</td>
            <td><a href="/Products/Create">Создать</a></td>
            <td><a href="/Products">Просмотр</a></td>
        </tr>
        <tr>
            <td>Услуги</td>
            <td><a href="/Services/Create">Создать</a></td>
            <td><a href="/Services">Просмотр</a></td>
        </tr>
        <tr>
            <td>Продукты заказа</td>
            <td><a href="/OrderProducts/Create">Создать</a></td>
            <td><a href="/OrderProducts">Просмотр</a></td>
        </tr>
        <tr>
            <td>Услуги заказа</td>
            <td><a href="/OrderServices/Create">Создать</a></td>
            <td><a href="/OrderServices">Просмотр</a></td>
        </tr>
    </tbody>

    @if (User.Identity.IsAuthenticated)
    {
        var userId = UserManager.GetUserId(User); // ID пользователя
        var roles = await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User)); // Роли пользователя

        <p>Ваш ID: @userId</p>
        <p>Ваши роли: @string.Join(", ", roles)</p>
    }
    else
    {
        <p>Вы не авторизованы.</p>
    }
</table>
<div class="text-center">
    <h1 class="display-4">Система отчетов!</h1>
    <p>Вы можете посмотреть доступные отчеты ниже:</p>

    <a class="btn btn-primary" href="@ViewData["ReportLink"]">Посмотреть отчет по заказам</a>
    <br>
    <a class="btn btn-secondary" asp-controller="Reports" asp-action="ProfitReport">Посмотреть отчет о прибыли</a>
    <br>
    <a class="btn btn-secondary" asp-controller="Reports" asp-action="PopularityReport">Посмотреть востребованность товаров и услуг</a>
</div>
